<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="Contact">contact</title>
    <div th:replace="fragments/header-nav :: header-css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>
<div th:replace="fragments/header-nav :: header"/>
<h1>Contact</h1>
<h2>ou</h2>

<div class="icon"></div>
<a href="https://m.facebook.com/profile.php?id=100089580320266" class="icon" aria-label="visit home page"
   aria-current="page">
    <i class="fa-brands fa-facebook"></i>
</a>
</div>

<div class="contact">
    <form action="#" th:action="@{/contact}"
          th:object="${contactDTO}"
          method="post">
          <!-- onsubmit="sendEmail(); reset(); return false;-->
        <div class="nom">
            <label for="nom">Nom :</label>
            <input type="text" th:field="*{name}" name="nom" id="nom" placeholder="Entrer ici votre nom">
            <div th:if="${#fields.hasErrors('name')}" class="error-input" th:errors="*{name}">name
                Error
            </div>
        </div>
        <div class="prenom">
            <label for="prenom">Prenom :</label>
            <input type="text" th:field="*{surname}" name="prenom" id="prenom" placeholder="Entrer ici votre prenom">
            <div th:if="${#fields.hasErrors('surname')}" class="error-input" th:errors="*{surname}">surname
                Error
            </div>
        </div>
        <div class="email">
            <label for="email">Email :</label>
            <input type="email" th:field="*{email}" name="email" id="email" placeholder="Entrer ici votre email">
            <div th:if="${#fields.hasErrors('email')}" class="error-input" th:errors="*{email}">email
                Error
            </div>
        </div>
        <div class="phone">
            <label for="phone">Telephone :</label>
            <input type="text" th:field="*{num}" name="phone" id="phone" placeholder="Entrer ici votre telephone">
            <div th:if="${#fields.hasErrors('num')}" class="error-input" th:errors="*{num}">num
                Error
            </div>
        </div>
        <div class="message">
            <label for="message">Message :</label>
            <textarea th:field="*{message}" id="message" rows="4" placeholder="Entrer ici votre message"></textarea>
            <div th:if="${#fields.hasErrors('message')}" class="error-input" th:errors="*{message}">message
                Error
            </div>
        </div>
        <button type="submit" class="btn">Valider</button>
    </form>
</div>
<!--<script src="https://smtpjs.com/v3/smtp.js"></script>
 <script>
    function sendEmail() {
        Email.send({
            Host: "smtp.elasticemail.com",
            Username: "durangvincent0@gmail.com",
            Password: "76E213E85F41388ABBF802165B8ADB334BC3",
            To: 'durangvincent0@gmail.com',
            From: document.getElementById("email").value,
            Subject: "This is the subject",
            Body: "Nom : " + document.getElementById("nom").value
                + "<br> Prenom : " + document.getElementById("prenom").value
                + "<br> Email : " + document.getElementById("email").value
                + "<br> Numero : " + document.getElementById("phone").value
                + "<br> Message : " + document.getElementById("message").value
        }).then(
            message => alert("Message envoyer")
        );
    }
</script>-->

</body>
</html>